{{extend 'layout.html'}}

<h2>{{=T('About this app')}}</h2>
<div>The web2py-appreport (old plugin-appreport), is an implementation of the module appreport, for the framework web2py, through the helpers, is possible generate PDF reports and html forms for emission of the reports, based only on the definition of the table data model.</div>

<br />

<h2>{{=T('Repositories')}}</h2>
<div>appreport <a href="https://github.com/lucasdavila/appreport">on github</a><br />
web2py-appreport for web2py <a href="https://github.com/lucasdavila/web2py-appreport">on github</a></div>

<br />

<h2>{{=T('About the author')}}</h2>
<div><strong>{{=T('Created by')}}</strong> Lucas D'Avila <strong>email:</strong> lucassdvl@gmail.com <strong>twitter:</strong> <a href="http://twitter.com/lucadavila">@lucadavila</a></div>
