{{extend 'layout.html'}}

<h2>Discover</h2>
<iframe src="http://player.vimeo.com/video/18601633?byline=0&amp;portrait=0" width="640" height="320" frameborder="0"></iframe>

<h2>Start</h2>
<ul>
    <li>Download the <a href="https://github.com/downloads/lucasdavila/web2py-appreport/web2py.plugin.appreport.w2p">latest version</a> of plugin</li>
    <li>Or <a href="{{='http://127.0.0.1:8000/admin/default/pack_plugin/%s/appreport'%request.application}}">pack the plugin</a> contained in this application</li>
</ul>

<h2>Documentation</h2>
<ul>
    <li><a href="https://github.com/lucasdavila/web2py-appreport/wiki/Docs-and-examples">Wiki</a> on github</li>
    <li>#todo more docs</li>
</ul>   

<h2>Contribute</h2>
<ul>
    <li>Fork project on <a href="https://github.com/lucasdavila/web2py-appreport">github</a></li>
    <li>Report issues on <a href="https://github.com/lucasdavila/web2py-appreport/issues">github issues</a></li>
</ul>   

