{{extend 'layout.html'}}

<h2>Discover</h2>
<iframe src="http://player.vimeo.com/video/18601633?byline=0&amp;portrait=0" width="640" height="320" frameborder="0"></iframe>

<h2>Start</h2>
<ul>
    <li>Download the latest version <a href="https://github.com/downloads/lucasdavila/web2py-appreport/web2py.plugin.appreport.w2p">here</a></li>
    <li>Or pack the plugin contained in this application <a href="{{='http://127.0.0.1:8000/admin/default/pack_plugin/%s/appreport'%request.application}}">admin</a>.</li>
</ul>

<h2>Documentation</h2>
<ul>
    <li><a href="https://github.com/lucasdavila/web2py-appreport/wiki/Docs-and-examples">Wiki</a> on github</li>
    <li>#todo more docs</li>
</ul>   
