*.pyc
*.bak
*.1
/databases
/cache
/errors
/sessions
.project
.pydevproject
*.class
/modules/plugin_appreport/libs/appreport/.gitignore
/modules/plugin_appreport/libs/appreport/.git
/views/reports/jasper
/static/images/brasao.jpg
/private/plugin_appreport
